#navig {font-size: 30px; text-align: center; border: 5px solid #2E64FE}
#navig td {background-color: #D8D8D8}
#title {font-family: Lobster, Arial; font-size: 40px}
	a {text-decoration: none}
a:link {color: blue}
a:visited {color: blue}
a:active {color: red}
a:hover {color: red}
#news {font-size: 25px; text-align: center}
body {font-family: Arial}
article img {height: auto; max-width: 100%; max-height: 300px }
article table {width: 100%}
td.np {vertical-align: top}
tr.line {height: 50px}
header table {margin-left: auto; margin-right: auto}
article td {text-align: center}
a:link p {color: black}
a:visited p {color: black}
a:active p {color: black}
a:hover p {color: black}
