#title {font-family: Arial; font-size: 40px}
	a {text-decoration: none}
article img {height: auto; width: 100%}
body {font-family: monospace; margin: 0}
article table {width: 75%; padding: 20px; margin-left: auto; margin-right: auto; border: 1px solid #D0D3D4; border-radius: 5px; background-color: white; 
	border-spacing: 30px; text-align: center}
header table {margin-left: auto; margin-right: auto}
h2 {text-align: center}
tr.line {height: 30px; visibility: hidden}
#navig a {color: white}
#back {height: 80px; width: 100%; background-color: #2874A6; margin-top: 50px}
#navig td {border: 0px solid #D0D3D4; border-radius: 5px; background-color: #2E86C1}
#navig {font-size: 30px; text-align: center; background-color: #2874A6; height: 80px; border-spacing: 20px; width: 100%}
article {background-color: #ECF0F1}
article td {background-color: #2874A6; vertical-align: top; border-radius: 20px 20px 0 0; box-shadow: 5px 5px 5px #888888}
article h3 {font-size: 25px; color: white}
article video {height: auto; width: 100%}
header h3 {font-size: 20px; font-family: Arial}
#achiv td {background-color: white; border-radius: 0 0 0 0}
article h2 {font-size: 35px}
#galery td {width: 50%}
