#title {font-family: Lobster, Arial; font-size: 40px}
	p {font-size: 20px}
a:link {color: blue}
a:visited {color: blue}
a:active {color: red}
a:hover {color: red}
	a {text-decoration: none}
#navig {font-size: 30px; text-align: center; border: 5px solid #2E64FE}
#navig td {background-color: #D8D8D8}
h2 {text-align: center}
article img {height: 400px; float: right}
body {font-family: Arial}
table {margin-left: auto; margin-right: auto; width: 100%}
header table {margin-left: auto; margin-right: auto}
tr.line {height: 30px}
