#title {font-size: 40px}
	p {font-size: 20px; color: white}
	a {text-decoration: none; color: white; font-family: monospace}
#navig {font-size: 30px; text-align: center; background-color: #2874A6; height: 80px; border-spacing: 20px}
#smalltitle {font-size: 35px; text-align: center; font-family: monospace}
#student img {width: 100%; float: right}
body {font-family: Arial; margin: 0}
#student {margin-left: auto; margin-right: auto; width: 75%; border: 1px solid #D0D3D4; border-radius: 5px; background-color: white; border-spacing: 0px; padding: 50px;
box-shadow: 5px 5px 5px #888888}
header table {margin-left: auto; margin-right: auto}
#navig td {border: 0px solid #D0D3D4; border-radius: 5px; background-color: #2E86C1}
article {background-color: #ECF0F1; margin-left: auto; margin-right: auto}
#back {height: 80px; width: 100%; background-color: #2874A6; margin-top: 50px}
#student tr {background-color: #2874A6; border-radius}
#inf {border-radius: 0 20px 20px 0; padding: 10px}
#student td {width: 50%}
